@import "../../base/mixin.scss";
.logo {
  width: 20%;
  height: 11%;
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  @include medium {
    width: 5%;
    padding: 0.8rem;
    height: 100%;
  }
  img {
    height: 100%;
  }
}
