$mine-shaft: #303030;
$scopion: #606060;
$bunker: #0f151d;
$cape: #222;
$gallery: #ededed;
$gallery-2: #eeeeee;
$gallery-3: #ebebeb;
$gallery-solid: #efefef;
$silver: #bcbcbc;
$dove: #666666;
$dove-gray: #707070;
$emperor: #555;
$off-white: #f9f9f9;
//Fonts
$default-font: "Open Sans", sans-serif;
$title-font: "Raleway", sans-serif;
$font-size: 1.4rem;
