@import "../../base/mixin.scss";
@import "../../base/Variables.scss";
.banner {
  grid-column: full-start / full-end;
  position: relative;
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url(../../assets/images/slider/breadcrumb.jpg) no-repeat center center / cover;
  &__content {
    position: relative;
    padding-top: 5rem;
    width: 100%;
    text-align: center;
  }
  &__title {
    font-size: 4rem;
    font-weight: 900;
    word-spacing: 0.4rem;
    letter-spacing: 0.5rem;
    @include respond(phone) {
      font-size: 2.5rem;
      letter-spacing: 0;
    }
  }
  &__list {
    position: relative;
    right: 0;
    top: 9rem;
    margin: 0;
    padding: 0;
    background: transparent none repeat scroll 0 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    @include respond(tab-port) {
      padding: 0 1.6rem;
    }
  }
  &__item,
  a {
    color: #818181;
    font-family: $title-font;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__item.active,
  &__item a:hover {
    color: #555;
  }
  &__item {
    &.active:before {
      content: "/";
      display: inline-block;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: #6c757d;
    }
  }
}